<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:fragment="layout">
<head>
    <meta charset="UTF-8" />
    <title th:text="${pageTitle} ?: 'MediConnect'">MediConnect</title>
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
</head>
<body>

<!-- Llama al header (solo una vez) -->
<div th:replace="~{fragments/header :: navbar}"></div>


<!-- Aquí se insertará el contenido de cada página -->
<main>
    <div th:insert="~{::body}"></div>
</main>

<script src="/js/scroll.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
